@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fcfcfc;
  --background-start-rgb: #031C29;
  --background-end-rgb: #031D29;
  --text-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fcfcfc;
    --background-start-rgb: #031C29;
    --background-end-rgb: #031D29;
    --text-color: white;
  }
}

body {
  background: var(--background-start-rgb);
  color: var(--text-color);
}