@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: yellow;
  --background-start-rgb: #b42020;
  --background-end-rgb: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fcfcfc;
    --background-start-rgb: #031C29;
    --background-end-rgb: #031D29;
  }
}

body {
  color: white;
  background: var(--background-start-rgb);
}